@import 'utilities.css';

        :root {
            --primary: rgb(211, 211, 244);
            --bgDark: rgb(0, 0, 0);
            --white: rgb(253, 253, 253);
            --secondary: rgb(6, 6, 13);
            --bgLight: #effcfe;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background-color:var(--secondary);
            color: var(--white);
        }

        /* Apply this to remove underline from links within any part of the document */
        a {
            text-decoration: none;
        }

        .container {
            max-width: 100%;
            padding: 0 10%;
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
        }

        .container nav .left a {
            padding: 10px 15px; /* Adjust the values as needed */
            display: inline-block; /* Ensures the padding applies correctly */
            text-decoration: none; /* Removes the underline for links */
            color: var(--primary); /* Set the link color */
        }
        
        header {
            background-color: var(--bgDark);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        header nav {
            padding: 2rem 0;
        }

        header nav .left {
            display: flex;
            align-items: center;
        }

        header nav .left .logo {
            padding-left: 0px;
            margin-right: 60px;
        }

        header nav .left a {
            color: var(--white);
            text-decoration: none;
            margin-right: 2rem;
            text-transform: uppercase;
            transition: all .2s ease;
        }

        header nav .left a:hover {
            color: var(--primary);
        }

        .hero {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-color: rgb(7, 4, 17); 
            margin-bottom: 3rem;
        }

        .hero .left img {
            width: 450px;
            float: right;
            margin-right: 6rem;
        }

        .hero .right {
            color: var(--white); /* Ensure the text is visible on a black background */
            margin-top: -7rem;
        }

        .hero .right h6 {
            font-size: 1.6rem;
            color: var(--primary);
            margin-bottom: 0.5rem;
        }

        .hero .right h1 {
            font-size: 4rem;
            font-weight: 100;
            line-height: 1.2;
            margin-bottom: 2rem;
        }

        .hero .right h3 {
            font-size: 1.2rem;
            font-weight: 150;
            color: var(--primary);
            margin-bottom: 0.5rem;
        }

        .content{
            padding: 5%;
            text-align: center;
            margin-bottom: 0px;
        }

        .services {
            padding: 2%;
            margin-bottom: 3%; /* Adjust this value as needed */
        }

        .content h1{
            padding: 30px;
            font-size: 4rem;
            font-weight: 100;
            line-height: 1.2;
            margin-bottom: 2rem;
            text-align: center;
            color: var(--bgLight)
        }


        .hero .right h1 span {
            color: var(--primary);
        }

        .hero .right p {
            line-height: 1.9;
            margin-bottom: 2rem;
        }

        .btn {
            padding: 0.6rem 2rem;
            font-size: 0.9rem;
            font-weight: 600;
            border: 1px solid transparent;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: all .2s ease;
        }

        .btn-primary:hover {
            background-color: var(--primary);
            color: var(--secondary);
        }

        .btn-primary {
            background: transparent;
            border-color: var(--primary);
            color: var(--primary);
        }

        .btn-secondary {
            background: transparent;
            color: var(--primary);
            border-color: var(--primary);
        }

        .btn-secondary:hover {
            background: var(--primary);
            color: var(--secondary);
        }


        .flex {
            display: flex;
        }

        .items-centre {
            align-items: center;
        }

        .justify-between {
            justify-content: space-between;
        }

        .justify-center {
            justify-content: center;
        }

        .justify-right {
            justify-content: right;
        }

        .flex-1 {
            flex: 1;
        }

        section {
            padding: 6rem;
        }

        section.about h1 {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 600;
        }

        section.about h1 span {
            color: var(--primary);
        }

        section.about h3 {
            font-size: 1rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        section.about p {
            font-family: 'Lato', sans-serif;
            color: var(--secondary);
            line-height: 1.9rem;
            margin-bottom: 2rem;
        }

        section.about .socials {
            display: center;
        }

        section.about .socials a {
            display: center;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin-right: 0.8rem;
            border-radius: 50%;
            transition: background 0.2s ease;
        }

        section.about .socials a:hover {
            background: var(--primary);
        }

        section.services {
            background: rgba(24, 23, 26, 0.472);
        }

        .services-head {
            color: var(--primary);
            text-align: center;
        }

        .services-head + p {
            color: var(--white);
            font-family: 'Lato', sans-serif;
            text-align: center;
        }

        section.services .card-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 2%;
        }

        section.services .card-grid .card {
            background: var(--bgDark);
            position: relative;
            display: flex;
            justify-content: center;  /* Horizontally centers the content */
            align-items: center;  /* Vertically centers the content */
            flex-direction: column;  /* Ensures text stacks vertically */
            transition: all .2s ease;
            box-shadow: 0 0 0 1px var(--bgDark);
            padding-top: 49%;  /* This maintains a 1:1 aspect ratio */
            padding-bottom: 49%;
            height: 0;
            overflow: hidden;  /* Ensures content doesn't overflow the card */
            text-align: center;
        }
        

        section.services .card-grid .card h2 {
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: var(--primary)
        }

        section.services .card-grid .card p {
            font-family: 'Lato', sans-serif;
            color: var(--white);
            line-height: 1.6;
        }

        section.services .card-grid .card:hover {
            background: var(--primary);
        }

        section.services .card-grid .card:hover h2 {
            color: var(--white);
        }

        section.services .card-grid .card:hover p {
            color: var(--white);
        }

        #progress-container {
            position: fixed;
            height: 100%;
            width: 9%;
            top: 0;
            left: 0;
            background: rgba(24, 23, 26, 0.472);
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: opacity 0.5s; /* Smooth transition for visibility */
            opacity: 0; /* Hidden by default */
        }
        
        #progress-container.visible,
        #progress-container:hover {
            opacity: 1; /* Visible when scrolling or hovered */
        }
        

        .progress-item {
            padding: 10px;
            text-align: center;
            cursor: pointer;
            transition: background 0.3s;
            border: 1px solid transparent;
        }

        .progress-item.active {
            background: transparent;
            color: var(--primary);
            border-color: rgba(190, 182, 220, 0.467);
        }

        .progress-item:hover {
            background: transparent;
            color: var(--primary);
            border-color: rgba(190, 182, 220, 0.467);
        }

        /* fineart */
        .fineart .p1 img{
            width: 1000px;
            padding-left: 100px;
        }

        .fineart h1{
            padding-left: 500px;
        }

        .fineart{
            background-color: var(--secondary);
        }

        footer {
            background-color: #000000;
            color: #fff;
            padding: 30px 0;
            text-align: center;
        }
        footer .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        footer .socials a {
            margin: 0 10px;
        }

        /* Modal styles */
        .contactmodal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1000; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
        }

        .contactmodal-content {
            background-color: var(--bgDark);
            color: var(--white);
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid var(--primary);
            width: 80%; /* Could be more or less, depending on screen size */
            border-radius: 10px;
            text-align: center;
        }

        .contactclose {
            color: var(--white);
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .contactclose:hover,
        .contactclose:focus {
            color: var(--primary);
            text-decoration: none;
            cursor: pointer;
        }


/* Media Queries for Responsive Design */

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .hero .left img {
        width: 350px;
        margin-right: 4rem;
    }

    .hero .right h1 {
        font-size: 3rem;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    header nav .left .logo {
        padding-left: 1rem;
        margin-right: 1rem;
    }

    header nav .left a {
        margin-right: 1rem;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero .left img {
        width: 300px;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .hero .right {
        margin-top: 0;
    }
}

@media (max-width: 868px) {

    section {
        padding: 4rem 2rem;
    }

    header nav .left a {
        margin-right: 0.5rem;
    }

    .hero .right h1 {
        font-size: 2.5rem;
    }

    .btn {
        padding: 0.5rem 1.5rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    header nav .left .logo {
        padding-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .hero {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .btn {
        padding: 0.4rem 1.2rem;
        font-size: 0.7rem;
    }
}
